form > label{
  font-size: 4rem;
  margin-left: 2rem;
}

form > textarea{
  border: 1px solid grey;
  border-radius: 10px;
  padding: 0.5rem;
  margin-top: 2rem;
    margin-left: 2rem;

}

form button{
  width: 200px !important;
  margin-left: 2rem;
}