{% extends 'base.html' %}
{% load static %}
  {% block title %}
    Analytics - Neuron
  {% endblock %}
  {% block header_addon %}
  <link rel="stylesheet" href="{% static 'css/analytics.css'%}">
  {% endblock %}
  {% block content %}
  <h1 class="heading" style="padding-top: 10vh"> Your <span>Analytics</span> </h1>
  <br>
  {% if is_critical %}
    <a href="/doctors/Ahmedabad">

        <div style="display: flex;gap: 3rem;border: 1px solid red;padding: 2rem;margin-left: 2rem;background-color: #ff000020;max-width: 50vw;">
          <svg width="35" height="35" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.4449 0.608765C8.0183 -0.107015 6.9817 -0.107015 6.55509 0.608766L0.161178 11.3368C-0.275824 12.07 0.252503 13 1.10608 13H13.8939C14.7475 13 15.2758 12.07 14.8388 11.3368L8.4449 0.608765ZM7.4141 1.12073C7.45288 1.05566 7.54712 1.05566 7.5859 1.12073L13.9798 11.8488C14.0196 11.9154 13.9715 12 13.8939 12H1.10608C1.02849 12 0.980454 11.9154 1.02018 11.8488L7.4141 1.12073ZM6.8269 4.48611C6.81221 4.10423 7.11783 3.78663 7.5 3.78663C7.88217 3.78663 8.18778 4.10423 8.1731 4.48612L8.01921 8.48701C8.00848 8.766 7.7792 8.98664 7.5 8.98664C7.2208 8.98664 6.99151 8.766 6.98078 8.48701L6.8269 4.48611ZM8.24989 10.476C8.24989 10.8902 7.9141 11.226 7.49989 11.226C7.08567 11.226 6.74989 10.8902 6.74989 10.476C6.74989 10.0618 7.08567 9.72599 7.49989 9.72599C7.9141 9.72599 8.24989 10.0618 8.24989 10.476Z" fill="red" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
          <div>
      
              <b>We've detected your mental condition is near about to critical</b>
              <pre>You just need proper guidence and support. We've auto-sorted some doctors near you.</pre>
          </div>
      </div>
    </a>
  {% endif %}
  <br/>
  <br/>
  <br/>
  <br/>
  <b style="font-size: 2rem;margin: 2rem;border-left: 5px solid greenyellow;padding-left: 1rem"> Personalized solutions,</b>
  <pre style=" margin-left: 3.5rem;">Based on your recent submission</pre>
  <br/>
  <br/>
  <div style="display: flex">

    <a href="/therapy/{{ recent_sid }}">
        <div class="soln_card">
            <b>Therapy</b>
            <pre>Music/Audio/Speeches</pre>
        </div>

    </a>
    <a href="/game/{{ recent_sid }}">
        <div class="soln_card">
            <b>Games</b>
            <pre>Divert your mind</pre>
        </div>

    </a>
    <a href="/stories/{{ recent_sid }}">
        <div class="soln_card">
            <b>Stories</b>
            <pre>Motivated learnings</pre>
        </div>

    </a>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <b style="font-size: 2rem;margin: 2rem;border-left: 5px solid greenyellow;padding-left: 1rem">Analytics,</b>
  <br/>
  <br/>
  <table>
    <thead>
      <tr>
        <th>Time Since</th>
        <th>😃</th>
        <th>😨</th>
        <th>😲</th>
        <th>😟</th>
        <th>😠</th>
      </tr>
    </thead>
    <tbody>
        {% for submission in submissions %}

            <tr>
                <td>{{ submission.at | timesince }} ago</td>
                <td>{% widthratio submission.happy 1 100 %}%</td>
                <td>{% widthratio submission.fear 1 100 %}%</td>
                <td>{% widthratio submission.surprise 1 100 %}%</td>
                <td>{% widthratio submission.sad 1 100 %}%</td>
                <td>{% widthratio submission.angry 1 100 %}%</td>
            </tr>
        {% endfor %}
      
    </tbody>
  </table>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <b style="font-size: 2rem;margin: 2rem;border-left: 5px solid green;padding-left: 1rem">Graphical View,</b>
  <canvas id="myChart" style="width:100%;max-width:900px"></canvas>
  <!-- <script src="https://www.jsdelivr.com/package/npm/chart.js?path=dist"></script> -->
  <script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
  <script>
//     const config = {
//   type: 'line',
//   data: {
//   labels: ['day1', 'day2'],
//   datasets: [{
//     label: 'My First Dataset',
//     data: [65, 59, 80, 81, 56, 55, 40],
//     fill: false,
//     borderColor: 'rgb(75, 192, 192)',
//     tension: 0.1
//   }]
// }
// };
new Chart("myChart", {
  type: "line",
  data:
  {
      labels: [
        {% for j in submissions reversed %}
            "{{ j.at | timesince }}",
        {% endfor %}

      ],
      datasets: [
            {% for emoji, data in s_data.items %}
            {
            label: "{{ emoji }}",
        backgroundColor:"transparent",
        borderColor: "{{ data.color }}",
        data: {{data.logs}}
            },
        {% endfor %}
        ]}});
//   {
//     labels: [50,60,70,80,90,100,110,120,130,140,150],
//     datasets: [{
//         label: 'Happy',
//       backgroundColor:"transparent",
//       borderColor: "rgba(0,0,255,1)",
//       data: [7,8,8,9,9,9,10,11,14,14,15]
//     },{
//         label: 'Happy',
//     //   backgroundColor:"rgba(0,0,255,0.1)",
//       borderColor: "rgba(0,0,255,0.1)",
//       data: [7,8,8,9,9,9,10,11,14,14,15].sort()
//     }]
//   },
//   options:{...}
// });
  </script>
  {% endblock %}